img.index_img {
    height: 270px;
    width: 180px;
}

.context-menu-item.icon {
    min-height: 18px;
    background-repeat: no-repeat;
    background-position: 4px 2px;
}

.context-menu-item.icon-edit {
    background-image: url(/plugins/jquery-contextMenu/images/page_white_edit.png);
}

.context-menu-item.icon-cut {
    background-image: url(/plugins/jquery-contextMenu/images/cut.png);
}

.context-menu-item.icon-copy {
    background-image: url(/plugins/jquery-contextMenu/images/page_white_copy.png);
}

.context-menu-item.icon-paste {
    background-image: url(/plugins/jquery-contextMenu/images/page_white_paste.png);
}

.context-menu-item.icon-delete {
    background-image: url(/plugins/jquery-contextMenu/images/page_white_delete.png);
}

.context-menu-item.icon-add {
    background-image: url(/plugins/jquery-contextMenu/images/page_white_add.png);
}

.context-menu-item.icon-quit {
    background-image: url(/plugins/jquery-contextMenu/images/door.png);
}
.context-menu-item.icon-mail {
    background-image: url(/plugins/jquery-contextMenu/images/mail.png);
}

.label, sub, sup {
    vertical-align: baseline
}

hr, img {
    border: 0
}

body, figure {
    margin: 0
}

.btn-group > .btn-group, .btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .dropdown-menu {
    float: left
}

.img-responsive, .img-thumbnail, .table, label {
    max-width: 100%
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .pre-scrollable {
    max-height: 340px
}


.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover, .form-control, .navbar-toggle, .open > .btn-danger.dropdown-toggle, .open > .btn-default.dropdown-toggle, .open > .btn-info.dropdown-toggle, .open > .btn-primary.dropdown-toggle, .open > .btn-warning.dropdown-toggle {
    background-image: none
}

.img-thumbnail, body {
    background-color: #f5f8fa
}